.maindiv {
  margin: 10%;
  text-align: center;
  padding-bottom: 20px;
}
li button {
  background-color: red;
}
.eachItem {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  border: 5px solid blue;
  border-radius: 10px;
}
li {
  margin: 5px;
  list-style-type: none;
}
.eachItem button {
  color: red;
}
h1 {
  margin: 10px;
}
.addItems {
  display: flex;
  justify-content: space-around;
}
.addItems button:hover {
  background-color: blue;
  color: white;
}
@media only screen and (max-width: 600px) {
  .addItems {
    display: block;
  }
}
